<h1>Welcome to SCE Motors!</h1>
<%- messages() %>

<div class="hero">
  <div class="hero-text-body">
    <div class="hero-title">DMC Delorean</div>
    <p>3 Cup holders <br>
      Superman Doors <br>
      Fuzzy dice!</p>
    <button class="hero-btn">Own Today</button>
  </div>
</div>

<div class="vehicle-details">
  <div class="upgrades">
    <h2>Delorean Upgrades</h2>
    <div class="upgrade-card-container">
      <div class="upgrade-row">
        <div class="upgrade-card">
          <a href="#">
            <div class="upgrade-img">
              <img width="50" src="/images/upgrades/flux-cap.png" alt="Flux Capacitor">
            </div>
            Flux Capacitor
          </a>
        </div>
        <div class="upgrade-card">
          <a href="#">
            <div class="upgrade-img">
              <img width="50" src="/images/upgrades/flame.jpg" alt="Flame Decals">
            </div>
            Flame Decals
          </a>
        </div>
      </div>
      <div class="upgrade-row">
        <div class="upgrade-card">
          <a href="#">
            <div class="upgrade-img">
              <img width="50" src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers">
            </div>
            Bumper Stickers
          </a>
        </div>
        <div class="upgrade-card">
          <a href="#">
            <div class="upgrade-img">
              <img width="50" src="/images/upgrades/hub-cap.jpg" alt="Hub Caps">
            </div>
            Hub Caps
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="reviews">
    <h2>DMC Delorean Reviews</h2>
    <div class="review-container">
      <ul class="review-list">
        <li>"So fast it's almost like traveling in time." (4/5)</li>
        <li>"Coolest ride on the road." (4/5)</li>
        <li>"I'm feeling McFly!" (5/5)</li>
        <li>"The most futuristic ride of our day." (4.5/5)</li>
        <li>"80's livin and I love it!" (5/5)</li>
      </ul>
    </div>
  </div>
</div>