@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200..700&display=swap');

/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  font-family: 'Nunito';
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-size: 18px !important;
}

nav {
  background-color: black;
  color: #fff;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  cursor: pointer;
  padding: 0.8rem;
  flex: auto;
  text-align: center;
}

nav ul li:hover {
  background-color: cadetblue;
}

.copyright {
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 0;
}

.header a {
  text-decoration: none;
  color: black;
}

.siteName {
  font-size: 2em;
}

.background-img {
  background-image: url('/images/site/checkerboard.jpg');
}

#wrapper {
  margin: 15px 350px;
  border: 5px solid rgb(67, 194, 220);
  border-radius: 10px;
  padding: 10px;
  background-color: #fff;
}

.hero {
  background-image: url('/images/vehicles/delorean.jpg');
  height: 500px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.hero-text-body {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  padding: 15px;
  color: rgb(67, 194, 220);
  font-weight: 700;
  width: 250px;
  margin-left: 50px;
  margin-top: 25px;
}

.hero-title {
  font-size: 1.2em;
}

.hero-btn {
  padding: 15px;
  background-color: #43c2dc;
  font-weight: 700;
  font-size: 0.9rem;
  width: 100%;
  cursor: pointer;
  border: none;
}

.hero-btn:hover {
  background-color: #3fb2c9;
}

.vehicle-details {
  display: flex;
}

.upgrades,
.reviews {
  flex: 1 1 0px;
  padding: 10px;
}

.upgrade-card {
  width: 50%;
  display: flex;
  justify-content: center;
}

.upgrade-row {
  width: 100%;
  display: flex;
  gap: 15px;
  margin-bottom: 30px;
}

.upgrade-img {
  height: 100px;
  width: 100%;
  background-color: #3fb2c9;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.upgrade-card a {
  width: 100%;
  text-align: center;
}

.review-list li {
  margin-bottom: 20px;
}

@media (max-width: 1500px) {
  #wrapper {
    margin: 15px 200px;
  }
}

@media (max-width: 1200px) {
  #wrapper {
    margin: 15px 150px;
  }
}

@media (max-width: 992px) {
  .vehicle-details {
    display: block;
  }
  #wrapper {
    margin: 15px 65px;
  }
}

@media (max-width: 576px) {
  #wrapper {
    border: none;
    margin: 0;
  }

  .background-img {
    background-image: url('');
  }
}

@media (max-width: 450px) {
  nav ul li {
    padding: 1.2rem 0.5rem;
  }
  .hero-text-body {
    margin: 0;
  }
}

@media (max-width: 350px) {
  nav ul {
    flex-direction: column;
  }
}
