@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200..700&display=swap');

/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  font-family: 'Nunito';
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-size: 18px !important;
}

nav {
  background-color: black;
  color: #fff;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  cursor: pointer;
  flex: auto;
  text-align: center;
  display: flex;
}

nav ul li a {
  padding: 0.8rem;
  flex: auto;
}

nav ul li:hover {
  background-color: rgb(60, 174, 197);
}

nav ul li a {
  color: white;
  text-decoration: none;
}

#tools a:hover {
  font-weight: 600;
}

.copyright {
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 0;
}

.header a {
  text-decoration: none;
  color: black;
}

.siteName {
  font-size: 2em;
}

.background-img {
  background-image: url('/images/site/checkerboard.jpg');
}

#wrapper {
  margin: 15px 350px;
  border: 5px solid rgb(67, 194, 220);
  border-radius: 10px;
  padding: 10px;
  background-color: #fff;
}

.hero {
  background-image: url('/images/vehicles/delorean.jpg');
  height: 500px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.hero-text-body {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  padding: 15px;
  color: rgb(67, 194, 220);
  font-weight: 700;
  width: 250px;
  margin-left: 50px;
  margin-top: 25px;
}

.hero-title {
  font-size: 1.2em;
}

.hero-btn {
  padding: 15px;
  background-color: #43c2dc;
  font-weight: 700;
  font-size: 0.9rem;
  width: 100%;
  cursor: pointer;
  border: none;
}

.hero-btn:hover {
  background-color: #3fb2c9;
}

.vehicle-details {
  display: flex;
}

.upgrades,
.reviews {
  flex: 1 1 0px;
  padding: 10px;
}

.upgrade-card {
  width: 50%;
  display: flex;
  justify-content: center;
}

.upgrade-row {
  width: 100%;
  display: flex;
  gap: 15px;
  margin-bottom: 30px;
}

.upgrade-img {
  height: 100px;
  width: 100%;
  background-color: #3fb2c9;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.upgrade-card a {
  width: 100%;
  text-align: center;
}

.review-list li {
  margin-bottom: 20px;
}

#inv-display {
  list-style-type: none;
  padding-left: 0;
}

.inv-list {
  border: 1px solid rgb(182, 182, 182);
  margin-bottom: 10px;
  border-radius: 3px;
  padding: 15px;
}

.inv-list:hover {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

.inv-list a {
  display: flex;
  text-decoration: none;
  color: black;
}

.inv-list a:visited {
  text-decoration: none;
  color: black;
}

.name-price {
  margin-left: 20px;
  width: 100%;
}

.name-price a {
  width: 100%;
  height: 100%;
}

.name-price h2 {
  margin-top: 0;
}

.details-container {
  display: flex;
  gap: 15px;
}

.details-container > * {
  flex: 1;
}

.details-img img {
  width: 100%;
  height: auto;
}

.detail-item {
  display: flex;
}

.detail-price {
  width: 100%;
  height: 75px;
  background-color: #e6ecf8;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  font-size: larger;
}

.detail-description {
  border-top: 2px solid rgb(182, 182, 182);
  margin-top: 15px;
  padding-top: 15px;
}

.fw-bold {
  font-weight: 700;
}

.flash-notice {
  border: 1px solid rgb(48, 255, 193);
  background-color: rgb(48, 255, 193);
  list-style-type: none;
  padding: 10px;
  border-radius: 5px;
  font-weight: 600;
}

.flash-error {
  border: 1px solid rgb(192, 0, 0);
  background-color: rgb(192, 0, 0);
  color: #fff;
  list-style-type: none;
  padding: 10px;
  border-radius: 5px;
  font-weight: 600;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-form {
  width: 40%;
  padding: 15px;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.login-form {
  background: rgb(255, 255, 255);
  background: linear-gradient(335deg, rgba(255, 255, 255, 1) 67%, rgba(67, 194, 220, 1) 100%);
}

.login-form h1 {
  margin-top: 0;
  text-align: center;
}

.form-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form-input label {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 3px;
}

.form-input input,
.form-input select,
.form-input textarea {
  padding: 8px 11px;
  border-radius: 5px;
  border: 1px solid rgb(109, 109, 109);
}

.form-input small {
  font-size: 12px;
  color: rgb(43, 43, 43);
  margin-top: 4px;
}

.form-input .input-group {
  display: flex;
  align-items: end;
}

.form-input .input-group input {
  width: 100%;
}

.main-form button {
  width: 100%;
  margin-top: 35px;
}

.main-form button,
.custom-button {
  backface-visibility: hidden;
  background-color: #43c2dc;
  border-radius: 5px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset, rgba(50, 50, 93, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;
  box-sizing: border-box;
  cursor: pointer;
  height: 40px;
  line-height: 1.15;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  font-size: 16px;
}

a.custom-button {
  color: black;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-weight: 600;
}

.main-form button:disabled,
.custom-button:disabled {
  cursor: default;
}

.main-form button:hover,
.custom-button:hover {
  background-color: rgba(67, 194, 220, 0.6);
}

.inventory-form {
  width: 60%;
}

.sign-up {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  font-size: 14px;
}

.sign-up a {
  color: black;
  text-decoration: none;
  font-weight: 600;
}

.sign-up a:hover {
  color: #3091a5 !important;
}

.sign-up a:visited {
  color: black;
}

.management-btn {
  display: block;
  width: 200px;
  text-decoration: none;
  border: 1px solid black;
  text-align: center;
  padding: 0.8rem;
  margin-bottom: 15px;
  font-weight: 600;
  color: black;
}

.management-btn:hover {
  background-color: rgb(60, 174, 197);
  color: #fff;
  border: 1px solid rgb(60, 174, 197);
}

.delete-confirm-warning {
  text-align: center;
  border: 2px orange solid;
  border-radius: 5px;
  padding: 5px 10px;
}

.cancel-delete {
  border: none !important;
  color: red !important;
  background-color: #fff !important;
  width: 50% !important;
  text-decoration: none;
  text-align: center;
}

.delete-actions {
  display: flex;
  align-items: center;
  margin-top: 35px;
}

.confirm-delete {
  width: 50% !important;
  margin: 0 !important;
}

.manage-classification {
  width: 50%;
}

.reviews-container {
  margin-top: 15px;
  border-top: 2px solid rgb(182, 182, 182);
}

.review-card {
  border: 1px solid gray;
  margin-top: 10px;
  border-radius: 5px;
  padding: 5px 10px;
}

.review-name {
  display: flex;
  justify-content: end;
}

.review-rating {
  font-size: 14px;
  font-weight: 700;
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.review-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-review {
  text-decoration: none;
  border: 1px solid red;
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  background-color: red;
}

.delete-review:hover {
  background-color: rgb(200, 0, 0);
  border: 1px solid rgb(200, 0, 0);
}

.delete-header {
  font-weight: 700;
  margin-bottom: 10px;
}

.delete-cancel {
  width: 100%;
  border: 2px solid red;
  padding: 5px;
  border-radius: 5px;
  margin-top: 10px;
}

.delete-cancel a {
  text-decoration: none;
  color: red;
  font-weight: 600;
  display: block;
  text-align: center;
}

.delete-cancel:hover {
  background-color: red;
  border: 2px solid red
}

.delete-cancel a:hover {
  color: white;
}

input:required:invalid,
input:focus:invalid {
  /* border: 2px solid red; */
}

input:required:valid {
  /* border: 2px solid green; */
}

footer {
  margin-top: 20px;
}

footer a:visited {
  color: blue;
}

@media (max-width: 1500px) {
  #wrapper {
    margin: 15px 200px;
  }
}

@media (max-width: 1200px) {
  #wrapper {
    margin: 15px 150px;
  }
}

@media (max-width: 992px) {
  .vehicle-details {
    display: block;
  }

  #wrapper {
    margin: 15px 65px;
  }

  .main-form {
    width: 60%;
  }
}

@media (max-width: 620px) {
  nav ul li {
    padding: 1.2rem 0.1rem;
  }

  .main-form {
    width: 80%;
  }

  .manage-classification {
    width: 100%;
  }
}

@media (max-width: 576px) {
  #wrapper {
    border: none;
    margin: 0;
  }

  .background-img {
    background-image: url('');
  }

  .details-container {
    display: block;
  }

  .inv-list a {
    display: block;
    text-align: center;
  }

  .inv-list a img {
    width: 100%;
  }

  .name-price {
    margin-left: 0;
  }

  .main-form {
    width: 95%;
  }
}

@media (max-width: 450px) {
  nav ul li {
    padding: 1.2rem 0.5rem;
  }

  nav ul {
    flex-direction: column;
  }

  .hero-text-body {
    margin: 0;
  }
}
