<% if (title) { %>
  <h1>
    <%= title %>
  </h1>
<% } else { res.redirect('/') } %>

<%- messages() %>

<a class="management-btn" href="/inv/add-classification">+ Add Classification</a>
<a class="management-btn" href="/inv/add-inventory">+ Add Inventory</a>